{
   "singleQuote": true,
   "arrowParens": "always",
   "bracketSameLine": false,
   "bracketSpacing": true,
   "htmlWhitespaceSensitivity": "css",
   "printWidth": 80,
   "proseWrap": "never",
   "semi": false,
   "tabWidth": 3,
   "trailingComma": "all",
   "useTabs": false
}
